// MODAL FOR RATE
#rate.modal
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title Rate this movie
      button#closeRate.delete(aria-label='close')
    section.modal-card-body
      form#rateForm
        // RATING
        .field
          p.control.has-icons-left
            input#ratingValue.input(type='text' placeholder='0-10')
    footer.modal-card-foot
      button#submitRate.button.is-success Rate 
      button#cancelRate.button Cancel


// MODAL FOR REVIEW
#review.modal
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title Leave a review!
      button#closeReview.delete(aria-label='close')
    section.modal-card-body
      form#reviewForm
        // Rating
        .field
          p.control.has-icons-left
            input#rval.input(type='text' placeholder='0-10')
        // plot summary
        .field
          p.control.has-icons-left
            input#plotSummary.input(type='text' placeholder='Plot Summary')
        // review
        .field
          p.control.has-icons-left
            input#theReview.input(type='text' placeholder='Review')
    footer.modal-card-foot
      button#submitReview.button.is-success Leave Review 
      button#cancelReview.button Cancel

// MODAL FOR EDITING
#addPeople.modal
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title Add an actor or writer! Or both!
      button#closeEdit.delete(aria-label='close')
    section.modal-card-body
      form#editForm
        // plot summary
        .field
          p.control.has-icons-left
            input#a.input(type='text' placeholder='Actors to add')
        // review
        .field
          p.control.has-icons-left
            input#w.input(type='text' placeholder='Writers to add')
    footer.modal-card-foot
      button#submitEdit.button.is-success Add changes
      button#cancelEdit.button Cancel

