doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Find an Actor
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css')
  body

    include ../partials/nav.pug
    include ../partials/modal.pug

    // END NAVIGATION
    section.hero.is-fullheight-with-navbar.is-light.is-bold.pb-4
      .hero-body.has-text-centered
        .container
          h1.title
            | Care to stalk a celebrity?
          h2.subtitle
            | We can give you all their info

          br
          a.button.is-dark(href = "/search") Look some up! 
          br
          if(contributing)
            br
            #addNewActor.button.is-primary.is-warning Add new person

    

    script(src="/js/navigation.js")
    if(contributing)
      script(src="/js/actors.js")