doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Home
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css')



include ../partials/nav.pug
include ../partials/modal.pug

// WELCOME TO THE SITE SECTION
section.hero.is-medium.is-dark.is-bold
  .hero-body.has-text-centered
    .container
      h1.title
        | Look4Movies
      h2.subtitle
        | With over 75&apos;000 movies in our database, anything your heart desires
        | can be found here.
// THIS IS THE SECTION FOR TILES
section#choices.section
  .tile.is-ancestor
    .tile.is-vertical.is-12
      .tile
        #movieChoice.tile.is-parent.is-vertical
          a.card-link(href='/movies')
            article.tile.is-child.notification.is-warning.is-bold
              p.title Movies
              p.subtitle What itch will you scratch?
              figure.image.is-4by3
                img(src='/pictures/MovieTheatre.jpg')
        .tile.is-parent.is-vertical
          a.card-link(href='/people')
            article.tile.is-child.notification.is-light.is-bold
              p.title Actors
              p.subtitle Who will you stalk?
              figure.image.is-4by3
                img(src='/pictures/Donkey.jpg')
        .tile.is-parent.is-vertical
          a.card-link(href='/search')
            article.tile.is-child.notification.is-warning.is-bold
              p.title Search
              p.subtitle Check out ageless classics
              figure.image.is-4by3
                img(src='/pictures/Search-button.png')

    script(src="/js/navigation.js")
    script(src="/js/addTo.js")